*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    color:rgb(199, 153, 83);
    background-color: #f5f5f5;
}
header nav{
    background-color: rgb(255, 255, 255);
    padding: 20px 0;

}
header nav .logo{
    color:rgb(199, 153, 83);
    text-decoration: none;
}

header nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .menu a {
    color: rgb(199, 153, 83);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}
header .hero{
    background-image: url('../imagens/Logo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 100px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    }
header .hero #formSearch{
    display: flex;
    justify-content: right;
    align-items: right;

}

header .hero #formSearch input{
    width: 40vw;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, .3);
    text-align: center;
}
/* AQUI FICARAM OS PRODUTOS COCA COLA ETC */
main {
    margin:20px 0px;
}
main .container .pro{
    display: flex;
    flex-direction: column;
    margin: 13px;
    }
    
.produtoo{
 background-color: #fff;
 margin-bottom: 20px;
 display: flex;
 flex-direction: column;
border-radius: 5px;
box-shadow: 1px 1px 3px rgba(0,0,0, .3);
transition: 0.3s ease;
}

.produtoo:hover{
    background-color: #f5f5f5;



}
.produtoo img{
    border-radius: 5px 5px 0px;
    margin-bottom: 10px;
    margin: center;
    

}
.produtoo h4{
    padding: 0px 20px;
    text-align: center;
    font-size:  1.2rem;
    margin-bottom: 10px;
    }
.produtoo p{
    padding: 2px 20px;
    text-align: left;
    font-size: 1rem; 
    color: rgb(126, 122, 122);
    font-weight: bold;   
}

.produtoo button{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, .3);
    text-transform: uppercase;
    background-color: rgba(238, 209, 232, 0.993);
    color: rgb(95, 94, 94);
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0,0,0, .3);
    transition: 0,3s ease;
}

.produtoo button:hover{
    background-color: #dedede;
    color: rgb(182, 159, 31);
    
}

main .container h3{
    font-size: 2rem;
    margin: 10px;
    }
footer{
    padding: 0px 10px;
} 
footer .container{
    text-align: center;
    font-weight: bold;
    font-size: 150%;


}
.hero{
    height:300px ;
    background-color: #111;
    color: rgb(95, 89, 89);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width:600px){
    main .container .pro{
        flex-direction: row;
        justify-content: space-around ;
        flex-wrap: wrap;
        white-space: normal;
    }
}
main .container.produtoo.pro{
    width: 300px;
}
/* MODAL*/
.modal {
    position: fixed;
    width: 70%;
    left: 15%;
    top: 40%;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(199, 153, 83);
}

/* form product*/
.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}
.form-control{
    padding:10px ;
    border-radius: 5px ;
    border: 1px solid rgb(199, 153, 83);
    box-shadow: 1px 1px 3px rgb(199, 153, 83);
    }
.btn{
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(95, 89, 89);
    cursor: pointer;
}
.btn:hover{
    opacity: 0.90;
}
.btn-sucess{
    background: green;
    color: #fff;
}
.btn-danger{
background: red;
color:#fff;
}
/* Utils*/

.hide {
    display: none;
}

.container{
    width: 90vw;
    margin: 0px auto;

}

